@font-face {
  font-family: 'IranYekan';
  src: url('./assets//IRANYekan.ttf') format('truetype');
}

body {
  padding: 20px 40px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

* {
  box-sizing: border-box;
  font-family: 'IranYekan';
}
